.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileContainer {
  display: flex;
  justify-content: center; /* Распределение элементов внутри контейнера */
  align-items: center; /* Вертикальное выравнивание */
  gap: 5px; /* Расстояние между кнопками */

  @media screen and (max-width: 768px) {
    margin: 20px 7px 0 0;
  }
}

.iconLogo {
  fill: var(--text-color);
  width: 100px;
  height: 100px;
}

.logoContainer {
  display: flex;
  align-self: flex-start;
}

.logoName {
  font-size: 80px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Разделяет контейнеры на противоположные стороны */
  align-items: center; /* Вертикально выравнивает содержимое */
  padding: 30px 30px; /* Отступы внутри header */
  border-bottom: 1px solid var(--accent-color);
}

.loginButton {
  display: flex;
  cursor: pointer;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(2, 80px);
  grid-template-areas:
    'lang profile'
    'theme logout';
  align-items: center;
  justify-items: center;
}
.gridLang {
  grid-area: lang;
}
.gridLang svg {
  transform: scale(0.9);
}

.gridProfile {
  grid-area: profile;
  justify-self: center;
}
.gridTheme {
  grid-area: theme;
  justify-self: start;
}
.gridLogout {
  grid-area: logout;
}

.selectorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8rem;
}

.selectorIcon {
  width: 32px;
  height: 32px;
}
