.distanceDropdown {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 300px;
  background: var(--background-color);
  outline: 1px solid white;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  padding: 16px;
  z-index: 100;
  pointer-events: auto;
}

.locationInfo {
  margin-bottom: 8px;
  font-size: 0.98em;
  color: var(--accent-color);
}
.locationError {
  color: red;
  margin-bottom: 8px;
  font-size: 0.98em;
}
.distanceLabel {
  display: block;
  margin-bottom: 8px;
}
.distanceRange {
  width: 100%;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
    cursor: pointer;

}

.chevronIcon {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.chevronIcon.rotated {
  transform: rotate(180deg);
}